<h4>Post comment:</h4>

<% form_for(Comment.new) do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :comment, :rows => 5, :cols => 60 %>
  <%= f.hidden_field :content_id, :value => content_id %>
  <p>
    <%= f.submit 'Comment' %>
  </p>
<% end %>
