<form action="#">
  <table>
    <tr>
      <td>
        <input id="searchField" type="text" class="textarea" value="Search..." onblur="if(this.value==''){this.value = 'Search...';}" onfocus="if(this.value == 'Search...'){this.value = '';}"/>
      </td>
      <td><%= image_tag('seachIcon.jpg') %></td>
    </tr>
  </table> 
</form>
