<div class="footer pageWrap">
  <p>&copy; 2010 SC Media, Inc. All Rights Reserved. <a href="#">Terms of Service </a> and <a href="#">Privacy Policy </a>: <a href="#">Disclaimer</a></p>
</div>
<!--end footer-->
